.div_banner {
	width: 100%;
}

.banner_left {
	width: 670px;
	height: 320px;
	float: left;
}

.banner_left img {
	width: 670px;
	height: 320px;
}

.banner_left .div_title {
	width: 670px;
	height: 60px;
	background-color: rgba(0,0,0,0.3);
	position: relative;
	top: -60px;
}

.banner_right {
	width: 180px;
	height: 320px;
	margin: 0 15px;
	float: left;
}

.banner_right img {
	width: 180px;
	height: 100px;
}