<div class="header">
	<div class="div_logo" (click)="selectMenu(NULL)" 
		[class.selected]="selectedMenu === NULL">
		<div class="div_content">
			<div>LOGO</div>
			<div>个人博客</div>
		</div>
	</div>

	<div class="div_menu" *ngFor="let menu of menus" (click)="selectMenu(menu)"
		[class.selected]="menu === selectedMenu">
		<div class="div_content">
			<img src="{{menu.imgUrl}}"/>
			<div>{{menu.name}}</div>
		</div>
	</div>

	<div class="div_search">
		<div class="div_search_border div_content">
			<img src="assets/images/index/u30.png">
			<input type="text" name="keyword" placeholder="搜你想搜的...">
			<button>搜索</button>
			<div style="clear: both;"></div>
		</div>
	</div>
</div>