<div class="div_html">
	<blog-header></blog-header>
	<div class="div_body">
		<div class="div_left">
			<blog-banner></blog-banner>
			<div style="clear: both;"></div>
			<div class="div_article_head"></div>
			<div class="div_article"></div>
			<div class="div_article"></div>
			<div class="div_article"></div>
			<div class="div_article"></div>
			<div class="div_article"></div>
			<div class="div_article"></div>
			<div class="div_article"></div>
			<div class="div_article"></div>
		</div>
		<div class="div_right">
			<div class="div_hot"></div>
			<div class="div_label"></div>
			<div class="div_like"></div>
		</div>
	</div>
</div>