header {
	width: 1200px;
	background: url(./../../../assets/images/yuanshan.jpg) right bottom no-repeat
}
.headtop {
	width: 1200px;
	background: url(./../../../assets/images/topbg.jpg) repeat-x;
	height: 28px;
}
.contenttop {
	width: 1000px;
	margin: auto;
}
.logo {
	padding: 50px 0 20px 20px;
	font-size: 26px;
	font-family: "微软雅黑", sans-serif;
	color: #333;
	font-weight: bold;
}
/*search*/
.search {
	width: 240px;
	margin: 50px 0 0 0
}
.input_text {
	padding-left: 5px;
	border: 1px solid #ccc;
	width: 158px;
	height: 26px;
	line-height: 26px;
	background-color: #e5e5e5;
}
.input_submit {
	background-color: #333;
	color: #FFF;
	margin-left: 5px;
	width: 50px;
	border: none;
	cursor: pointer;
	height: 28px;
	line-height: 28px;
	border-radius: 5px;
}
/*nav*/
nav {
	margin: 0 0 15px 0
}
.navigation {
	height: 64px;
	background: url(./../../../assets/images/navbg.png) no-repeat;
	font-family: "微软雅黑";
}