.menu {
	position: relative;
	margin-left: 0px;
	padding-top: 0px;
}
/*.menu li {
	float: left;
	width: 110px;
	text-align: center;
	position: relative;
	line-height: 46px;
}*/
.menu li a {
	display: block;
	text-decoration: none;
	color: #fff;
	font-size: 15px;
	font-weight: bold
}
.menu ul {
	/*position: relative;*/
	display: visible;
	width: 110px;
	position: absolute;
	/*TOP: 40px;*/
	left: 0;
	background: url(./../../../assets/images/footerbg.png);
	z-index: 300;
}
/*.menu li ul {
	display: none;
	width: 110px;
	position: absolute;
	TOP: 40px;
	left: 0;
}*/
.menu ul li {
	font-size: 12px;
	height: 28px;
	line-height: 28px
}
.menu ul li a {
	font-size: 14px
}
.menu ul li a:hover {
	background: #000
}